{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h4>Liste des produits</h4>
        {% for produit in produits %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h2>{{ produit.titre}}</h2>
                        <p class="card-text">Description: {{ produit.description }}</p>
                        <p class="card-text">Prix: {{ produit.prix }} €</p>
                        <p class="card-text">Quantite stocke: {{ produit.quantitestock }}/p>
                        <p class="card-text">Couleur: {{ produit.couleur }}</p>
                        <p class="card-text">Categorie: {{ produit.categorie.id }}</p>
                    </div>
                    <div class="card-footer">
                      <a class="btn btn-primary" href="{{ path('app_produit_show', {'id': produit.id}) }}">Afficher</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



        {#                     <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a> #}


{% endblock %}


