{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Description</th>
                <th>QuantiteStock</th>
                <th>Statut</th>
                <th>Couleur</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h2>{{ produit.titre}}</h2>
                        <p class="card-text">Description: {{ produit.description }}</p>
                        <p class="card-text">Prix: {{ produit.prix }} €</p>
                        <p class="card-text">Quantite stocke: {{ produit.quantitestock }}</p>
                        <p class="card-text">Couleur: {{ produit.couleur }}</p>
                        <p class="card-text">Categorie: {{ produit.categorie.id }}</p>
                    </div>
                     <div class="card-footer">
                     <a class="btn btn-primary" href="{{ path('app_produit_show', {'id': produit.id}) }}">Afficher</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
