{% extends 'base.html.twig' %}

{% block title %}ADMIN {% endblock %}

{% block body %}

   <h1>Produit </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Description</th>
                <th>QuantiteStock</th>
                <th>Statut</th>
                <th>Couleur</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.titre }}</td>
                <td>{{ produit.prix }} €</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.quantiteStock }}</td>
                <td>{{ produit.statut ? 'OUI' : 'NON' }}</td>
                <td>{{ produit.couleur }}</td>
                <td>{{ produit.image }}</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


 <h1>Article </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Datecreation</th>
                <th>Datemodification</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.contenu }}</td>
                <td>{{ article.datecreation ? article.datecreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.datemodification ? article.datemodification|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.auteur.nom }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


 <h1>User </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                    <a href="{{ path('app_admin_show', {'id': user.id}) }}">SHOW </a>
                    <a href="{{ path('app_admin_edit', {'id': user.id}) }}"> EDIT</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   

    <a href="{{ path('app_admin_new') }}">Create new</a>
{% endblock %}
